#img-display {
    margin-top: 20px;
    width: 150px;
    height: 150px;
}

#img-name {
    cursor: pointer;
}

#btn-check:disabled {
    background-color: grey;
}

@media only screen and (max-width: 768px) {
    #btn-check {
        width: 100%;
    }
}